<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nyc.monorail.stratapitest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayPlayersInPack"
            android:label="@string/title_activity_display_players_in_pack" >
        </activity>
        <activity
            android:name=".DisplayPlayerStats"
            android:label="@string/title_activity_display_player_stats" >
        </activity>
        <activity
            android:name=".SortCards"
            android:label="@string/title_activity_sort_cards" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="SignupActivity" >
        </activity>
        <activity
            android:name=".SearchPacksActivity"
            android:label="@string/title_activity_search_packs" >
        </activity>
        <activity
            android:name=".SeeAvailablePacks"
            android:label="@string/title_activity_see_available_packs" ></activity>
        <activity
            android:name=".ListsActivity"
            android:label="@string/title_activity_lists"></activity>
        <activity
            android:name=".DisplayCardsInList"
            android:label="@string/title_activity_display_cards_in_list"></activity>
        <activity
            android:name=".AssignBuddy"
            android:label="@string/title_activity_assign_buddy"></activity>
        <activity
            android:name=".DisplayProfile"
            android:label="@string/title_activity_display_profile"></activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account">
        </activity>
    </application>

</manifest>
